.row {
  display: flex;
  padding: 0.25rem 0;
}

.row-1 {
  margin-left: 1rem;
}
.row-2 {
  margin-left: 2rem;
}
.row-3 {
  margin-left: 3rem;
}

.cell {
  height: 2rem;
  width: 2rem;
  background-color: rgb(255, 255, 255);
  margin: 0 0.25rem;
  border-radius: 15%;
  border: 1px solid #ddd;
  box-sizing: border-box;
}

.cell.active {
  background-color: #ddd;
}
